<h1>Editing Project Requirement Item</h1>

<%= render 'form', project_requirement_item: @project_requirement_item %>

<%= link_to 'Show', @project_requirement_item %> |
<%= link_to 'Back', project_requirement_items_path %>
